* {
  font-family: "Monocraft", monospace;
  font-size: 11px;
  background-color: #101010;
  color: #00ff00;
  border: none;
}

#custom-logo {
  color: #00ff00;
  padding: 0 10px;
}

#clock, #network, #tray {
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 4px;
  background-color: #1e1e1e;
  color: #00ff00;
}
